<div class="window-time-container">
    <button type="button" class="btn btn-xs" ng-class="oneDayClass" ng-click="oneDay()" translate>BUTTON.TITLE.LAST_DAY</button>
    <button type="button" class="btn btn-xs" ng-class="oneWeekClass" ng-click="oneWeek()" translate="BUTTON.TITLE.LAST_NUMBER_DAY" translate-values="{ number: '7' }"></button>
    <button type="button" class="btn btn-xs" ng-class="oneMonthClass" ng-click="oneMonth()" translate="BUTTON.TITLE.LAST_NUMBER_DAY" translate-values="{ number: '30' }"></button>
    <button type="button" class="btn btn-xs" ng-class="customClass" ng-click="custom()" translate>BUTTON.TITLE.CUSTOM</button>
    <button type="button" class="btn btn-xs btn-info" ng-if="customEnabled" ng-disabled="!!errorCustomWindow || fromCalendarOpen || toCalendarOpen" ng-click="applyCustom()" translate>BUTTON.TITLE.APPLY</button>
    <button type="button" class="btn btn-xs btn-info" ng-if="filterApplied" ng-click="clear()" translate>BUTTON.TITLE.CLEAR </button>
    <div ng-if="customEnabled" class="window-time-body">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label class="control-label">{{ 'FORM.LABEL.FROM' | translate }}: {{fromDate | date:'fullDate'}}</label>
                <input readonly="readonly" type="text" class="form-control text-center" ng-model="date.from" button-bar="customButtonBar" ng-click="openCalendarFrom()" ng-required="true" datetime-picker="{{format}}" is-open="fromCalendarOpen" datepicker-options="fromOptions.datePicker"
                    timepicker-options="fromOptions.timePicker" when-closed="fromChange(args)" popup-placement="auto top-right" datepicker-append-to-body="true">
            </div>
            <div class="col-xs-12 col-md-6">
                <label class="control-label">{{ 'FORM.LABEL.TO' | translate }}: {{fromDate | date:'fullDate'}}</label>
                <input readonly="readonly" type="text" class="form-control text-center" ng-model="date.to" button-bar="customButtonBar" ng-click="openCalendarTo()" ng-required="true" datetime-picker="{{format}}" is-open="toCalendarOpen" datepicker-options="toOptions.datePicker"
                    timepicker-options="toOptions.timePicker" when-closed="toChange(args)" popup-placement="auto top-right" datepicker-append-to-body="true">
            </div>
        </div>
        <alert type="danger" ng-show="errorCustomWindow" class="text-danger" style="display: block;text-align: center;">
            <span ng-bind="errorCustomWindow"></span>
        </alert>
    </div>
</div>