<div class="no-margin">
    <div class="col-xs-12 no-padding"><label class="custom-ui-select-label">{{ ($ctrl.label?$ctrl.label:'FORM.LABEL.ENTITY_KEY') | translate }} <field-options required="$ctrl.required" multiple="$ctrl.multiple" loading="$ctrl.reloadingInfo" /></label> </div>
    <div class="row" ng-if="!$ctrl.disabled">
        <div class="col-xs-3 form-group no-margin"><input ng-required="$ctrl.required" type="number" class="form-control" title="{{ 'FORM.TITLE.LATITUDE' | translate }}" placeholder="{{ 'FORM.TITLE.LATITUDE' | translate }}" ng-model="$ctrl.coordsObj.new.lat"></div>
        <div class="col-xs-3 form-group no-margin"><input ng-required="$ctrl.required" type="number" class="form-control" title="{{ 'FORM.TITLE.LONGITUDE' | translate }}" placeholder="{{ 'FORM.TITLE.LONGITUDE' | translate }}" ng-model="$ctrl.coordsObj.new.lng"></div>
        <div class="col-xs-2 form-group no-margin">
            <button type="button" ng-disabled="$ctrl.coordsObj.current.lat === $ctrl.coordsObj.new.lat && $ctrl.coordsObj.current.lng === $ctrl.coordsObj.new.lng" class="btn btn-info no-margin" ng-click="$ctrl.searchCoords()"><i class="fa fa-search"></i></button>
            <button type="button" ng-if="!$ctrl.disabled" class="btn btn-default no-margin" ng-click="$ctrl.applyCoords()"><i class="fa fa-map-marker"></i></button>
        </div>
    </div>
    <div class="col-xs-12"><small>{{ $ctrl.display_name }}&nbsp;</small></div>
    <leaflet ng-if="$ctrl.showMap" id="{{ $ctrl.map.id }}" lf-center="$ctrl.map.center" layers="$ctrl.map.layers" controls="$ctrl.map.controls" event-broadcast="$ctrl.map.events" markers="$ctrl.map.markers" width="100%" height="150px"></leaflet>
    <div class="row" ng-if="!$ctrl.disabled && !$ctrl.onlyMap">
        <div class="col-xs-12 col-md-5 form-group no-margin"><input ng-required="$ctrl.required" type="text" class="form-control" title="{{ 'FORM.TITLE.ADDRESS' | translate }}" placeholder="{{ 'FORM.TITLE.ADDRESS' | translate }}" ng-model="$ctrl.location.address"></div>
        <div class="col-xs-12 col-md-5 form-group no-margin"><input ng-required="$ctrl.required" type="text" class="form-control" title="{{ 'FORM.TITLE.TOWN' | translate }}" placeholder="{{ 'FORM.TITLE.TOWN' | translate }}" ng-model="$ctrl.location.town"></div>
        <div class="col-xs-12 col-md-2 form-group no-margin"><input ng-required="$ctrl.required" type="text" class="form-control" title="{{ 'FORM.TITLE.POSTAL_CODE' | translate }}" placeholder="{{ 'FORM.TITLE.POSTAL_CODE' | translate }}" ng-model="$ctrl.location.postal"></div>
    </div>
    <div class="row" ng-if="!$ctrl.disabled && !$ctrl.onlyMap">
        <div class="col-xs-12 col-md-5 form-group no-margin"><input ng-required="$ctrl.required" type="text" class="form-control" title="{{ 'FORM.TITLE.PROVINCE' | translate }}" placeholder="{{ 'FORM.TITLE.PROVINCE' | translate }}" ng-model="$ctrl.location.province"></div>
        <div class="col-xs-12 col-md-5 form-group no-margin"><input ng-required="$ctrl.required" type="text" class="form-control" title="{{ 'FORM.TITLE.REGION' | translate }}" placeholder="{{ 'FORM.TITLE.REGION' | translate }}" ng-model="$ctrl.location.region"></div>
        <div class="col-xs-12 col-md-2 form-group no-margin"><input ng-required="$ctrl.required" type="text" class="form-control" title="{{ 'FORM.TITLE.COUNTRY.NAME' | translate }}" placeholder="{{ 'FORM.TITLE.COUNTRY.NAME' | translate }}" ng-model="$ctrl.location.country"></div>
    </div>
</div>