<div class="form-group" ng-hide="$ctrl.have_helper_keys" ng-transclude="input">
    <label for="{{$ctrl.id}}">{{$ctrl.labelText | translate }}</label>
    <input class="form-control" name="{{$ctrl.name}}" type="text" id="{{$ctrl.id}}" ng-model="$ctrl.helperModel" ng-required="$ctrl.required">
    <span class="help-inline" ng-show="!$ctrl.helperModel && $ctrl.required">{{$ctrl.labelError}}</span>
</div>
<!--<div class="form-group" ng-hide="!$ctrl.have_helper_keys" ng-transclude="custom">-->
<div class="form-group" ng-hide="!$ctrl.have_helper_keys">
    <label for="{{$ctrl.id}}">{{$ctrl.labelText | translate }}</label>
    <ui-select id="{{$ctrl.id}}" name="{{$ctrl.name}}" ng-model="$ctrl.helperModel" theme="bootstrap" title="Choose an option" ng-required="$ctrl.required" tagging="$ctrl.helperTagTransform" tagging-label="false">
        <ui-select-match placeholder="Choose an option">
            <span ng-if="$select.selected && $select.selected.key !== 'image'">{{$select.selected.value}}</span>
            <img ng-if="$select.selected && $select.selected.key === 'image'" src="{{ $select.selected.value }}" style="max-height:30px;"></img>
        </ui-select-match>
        <ui-select-choices repeat="parameter.value as (key, parameter) in $ctrl.$helper_keys | filter: $select.search">
            <span ng-bind-html="parameter.key | highlight: $select.search "></span>:
            <small ng-if="parameter.key !== 'image'" ng-bind-html="parameter.value | highlight: $select.search"></small>
            <img ng-if="parameter.key === 'image'" src="{{ parameter.value }}" style="max-height:30px;"></img>
        </ui-select-choices>
    </ui-select>
    <span class="help-inline" ng-show="!$ctrl.helperModel && $ctrl.required" translate>FORM.REQUIRED.FIELD</span>
</div>