<p class="container col-md-12 col-xs-12 input-group form-group no-margin">
    <span class="no-margin" style="padding-left:0;padding-right:0" ng-transclude></span>
    <span class="input-group-btn">
        <a class="btn btn-info btn-sm ux-txt-info pointer no-margin no-padding" ng-href="" ng-click="$helper.open()" ng-switch="$helper.mode">
            <span ng-switch-when="button">
                <i ng-class="$helper.helperButton" aria-hidden="true"></i>
            </span>
    <span ng-switch-when="title">{{$helper.helperTitle}}</span>
    <span ng-switch-when="title_button">
                <i ng-class="$helper.helperButton" aria-hidden="true"></i>{{$helper.helperTitle}}
            </span>
    <span ng-switch-default>
                <i ng-if="!$helper.helperTitle && !$helper.helperButton" class="fa fa-lg fa-search-plus" title="{{ 'FORM.HELPER' | translate }}" aria-hidden="true"></i>
            </span>
    </a>
    </span>
</p>

<script type="text/ng-template" id="helper.view.modal.html">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'FORM.HELPER' | translate }}</h4>
    </div>
    <div class="modal-body without-padding-top">
        <uib-accordion close-others="true">
            <div uib-accordion-group is-open="$ctrl.mapIsOpen" is-disabled="$ctrl.helper_exclusive ? !$ctrl.mapIsExclusive : false" class="map-option">
                <div uib-accordion-heading>Map</div>
                <div class="row" ng-if="$ctrl.mapIsOpen">
                    <div class="col-xs-12">
                        <div class="form-group leaflet-container">
                            <leaflet id="map-marker" lf-center="$ctrl.map.center" layers="$ctrl.map.layers" controls="$ctrl.map.controls" event-broadcast="$ctrl.map.events" markers="$ctrl.map.markers" width="100% " height="300px"></leaflet>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.map}" ng-click="$ctrl.ok('map')" ng-disabled="!$ctrl.helper_keys.map">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.entityIsOpen" is-disabled="$ctrl.helper_exclusive ? !$ctrl.entityIsExclusive: false" class="entity-option">
                <div uib-accordion-heading>{{ 'FORM.ENTITY' | translate }}</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-entity on-select-item="$ctrl.onSelectEntityKey($item, $model)" on-remove="$ctrl.onDeleteEntityKey()" entity="$ctrl.entity.selected" multiple="false"> </custom-ui-select-entity>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.entity}" ng-click="$ctrl.ok('entity')" ng-disabled="!$ctrl.helper_keys.entity">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.subscriberIsOpen" class="subscriber-option" is-disabled="$ctrl.helper_exclusive ? (!$ctrl.entityIsExclusive && !$ctrl.subscriberIsExclusive): false">
                <div uib-accordion-heading>{{ 'FORM.SUBSCRIBERS' | translate }}</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-subscriber on-select-item="$ctrl.onSelectSubscriberKey($item, $model)" specific-type="{{$ctrl.specific_type}}" on-remove="$ctrl.onDeleteSubscriberKey()" entity="$ctrl.subscriber.selected" multiple="false"> </custom-ui-select-subscriber>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.subscriber}" ng-click="$ctrl.ok('subscriber')" ng-disabled="!$ctrl.helper_keys.subscriber">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.subscriptionIsOpen" class="subscription-option" is-disabled="$ctrl.helper_exclusive ? (!$ctrl.entityIsExclusive && !$ctrl.subscriptionIsExclusive): false">
                <div uib-accordion-heading>{{ 'FORM.SUBSCRIPTIONS' | translate }}</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-subscription on-select-item="$ctrl.onSelectSubscriptionKey($item, $model)" specific-type="{{$ctrl.specific_type}}" on-remove="$ctrl.onDeleteSubscriptionKey()" entity="$ctrl.subscription.selected" multiple="false">
                        </custom-ui-select-subscription>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.subscription}" ng-click="$ctrl.ok('subscription')" ng-disabled="!$ctrl.helper_keys.subscription">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.datastreamIsOpen" is-disabled="$ctrl.helper_exclusive ? !$ctrl.datastreamIsExclusive: false" class="datastream-option">
                <div uib-accordion-heading>{{ 'FORM.DATASTREAM' | translate }}</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-datastream on-select-item="$ctrl.onSelectDatastreamKey($item, $model)" on-remove="$ctrl.onDeleteDatastreamKey()" datastream="$ctrl.datastream.selected" multiple="false"> </custom-ui-select-datastream>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.datastream}" ng-click="$ctrl.ok('datastream')" ng-disabled="!$ctrl.helper_keys.datastream">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.domainIsOpen" class="domain-option" is-disabled="$ctrl.helper_exclusive ? !$ctrl.domainIsExclusive: false">
                <div uib-accordion-heading>{{ 'FORM.DOMAINS' | translate }}</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-domain on-select-item="$ctrl.onSelectDomainKey($item, $model)" on-remove="$ctrl.onDeleteDomainKey()" domain="$ctrl.domain.selected" multiple="false"> </custom-ui-select-domain>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.domain}" ng-click="$ctrl.ok('domain')" ng-disabled="!$ctrl.helper_keys.domain">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.areaIsOpen" class="area-option" is-disabled="$ctrl.helper_exclusive ? !$ctrl.areaIsExclusive: false">
                <div uib-accordion-heading>{{ 'FORM.AREAS' | translate }}</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-area on-select-item="$ctrl.onSelectAreaKey($item, $model)" on-remove="$ctrl.onDeleteAreaKey()" area="$ctrl.area.selected" organization="$ctrl.area.organization" multiple="false"> </custom-ui-select-area>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.area}" ng-click="$ctrl.ok('area')" ng-disabled="!$ctrl.helper_keys.area">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.bundleIsOpen" class="bundle-option" is-disabled="$ctrl.helper_exclusive ? !$ctrl.bundleIsExclusive: false">
                <div uib-accordion-heading>{{ 'FORM.BUNDLES' | translate }}</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-bundle on-select-item="$ctrl.onSelectBundleKey($item, $model)" on-remove="$ctrl.onDeleteBundleKey()" bundle="$ctrl.bundle.selected" multiple="false"> </custom-ui-select-bundle>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.bundle}" ng-click="$ctrl.ok('bundle')" ng-disabled="!$ctrl.helper_keys.bundle">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.imageIsOpen" class="image-option" is-disabled="$ctrl.helper_exclusive ? !$ctrl.imageIsExclusive: false">
                <div uib-accordion-heading>{{ 'FORM.IMAGE' | translate }}</div>
                <div class="row row-eq-height">
                    <div class="col-xs-12 col-md-8">
                        <div name="image" ng-if="!$ctrl.helper_keys.image && !$ctrl.helper_keys.image.image" ngf-drop="$ctrl.imageSelected($file)" ng-model="$ctrl.image" ngf-max-size="1MB" ngf-select="$ctrl.imageSelected($file)" class="drop-box pointer" ngf-drag-over-class="'dragover'"
                            ngf-multiple="false" ng-required="$ctrl.helper_keys.image" ngf-accept="'image/*'" ngf-pattern="'image/*'">{{ 'FORM.DRAG_DROP' | translate }}
                            <br>{{ 'FORM.MAX_SIZE' | translate }}</div>
                        <img ng-if="$ctrl.helper_keys.image && $ctrl.helper_keys.image.image" src="{{ $ctrl.helper_keys.image.image }}" style="max-height:200px;" name="image" /> </div>
                    <div class="col-xs-12 col-md-4">
                        <button id="idRemoveFileLink" ng-if="$ctrl.helper_keys.image && $ctrl.helper_keys.image.image" ng-click="$ctrl.removeDataFile()" class="btn btn-warning ux-txt-warning pointer">
                            <i class="fa fa-trash" aria-hidden="true"></i> {{ 'BUTTON.TITLE.REMOVE' | translate }}</button>
                        <a ng-if="$ctrl.helper_exclusive" class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.bundle}" ng-click="$ctrl.ok('bundle')" ng-disabled="!$ctrl.helper_keys.bundle">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>
    <div class="modal-footer">
        <a ng-if="!$ctrl.helper_exclusive" class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.canApply()}" ng-click="$ctrl.ok()" ng-disabled="!$ctrl.canApply()">
            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i> {{'BUTTON.TITLE.ALL' | translate }} </a>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'BUTTON.TITLE.CANCEL' | translate}}</button>
    </div>
</script>