<div class="container col-md-12 col-xs-12" ng-transclude></div>
<div class="col-xs-12 col-md-12">
    <a class="btn btn-default btn-sm ux-txt-info pointer" ng-href="" ng-click="$helper.open()" ng-switch="$helper.mode">
        <span ng-switch-when="button"><i ng-class="$helper.helperButton" aria-hidden="true"></i></span>
        <span ng-switch-when="title">{{$helper.helperTitle}}</span>
        <span ng-switch-when="title_button"><i ng-class="$helper.helperButton" aria-hidden="true"></i>{{$helper.helperTitle}}</span>
        <span ng-switch-default><i ng-if="!$helper.helperTitle && !$helper.helperButton" class="fa fa-lg fa-search-plus" aria-hidden="true"></i> Helper</span>
    </a>
</div>


<script type="text/ng-template" id="helper.view.modal.html">
    <div class="modal-header">
        <h4 class="modal-title">Helper</h4>
    </div>
    <div class="modal-body without-padding-top">
        <uib-accordion close-others="true">
            <div uib-accordion-group is-open="$ctrl.mapIsOpen" is-disabled="$ctrl.helper_exclusive ? !$ctrl.mapIsExclusive : false" class="map-option">
                <div uib-accordion-heading>Map</div>
                <div class="row" ng-if="$ctrl.mapIsOpen">
                    <div class="col-xs-12">
                        <div class="form-group leaflet-container">
                            <leaflet id="map-marker" lf-center="$ctrl.map.center" event-broadcast="$ctrl.map.events" markers="$ctrl.map.markers" width="100% " height="300px"></leaflet>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.map}" ng-click="$ctrl.ok('map')" ng-disabled="!$ctrl.helper_keys.map">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.entityIsOpen" is-disabled="$ctrl.helper_exclusive ? !$ctrl.entityIsExclusive: false" class="entity-option">
                <div uib-accordion-heading>Entity</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-entity on-select-item="onSelectEntityKey($item, $model)" on-remove="onDeleteEntityKey()" entity="$ctrl.entity.selected" multiple="false">
                        </custom-ui-select-entity>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.entity}" ng-click="$ctrl.ok('entity')" ng-disabled="!$ctrl.helper_keys.entity">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.subscriberIsOpen" class="subscriber-option" is-disabled="$ctrl.helper_exclusive ? (!$ctrl.entityIsExclusive && !$ctrl.subscriberIsExclusive): false">
                <div uib-accordion-heading>Subscribers</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-subscriber on-select-item="onSelectSubscriberKey($item, $model)" specific-type="{{$ctrl.specific_type}}" on-remove="onDeleteSubscriberKey()" entity="$ctrl.subscriber.selected" multiple="false">
                        </custom-ui-select-subscriber>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.subscriber}" ng-click="$ctrl.ok('subscriber')" ng-disabled="!$ctrl.helper_keys.subscriber">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.subscriptionIsOpen" class="subscription-option" is-disabled="$ctrl.helper_exclusive ? (!$ctrl.entityIsExclusive && !$ctrl.subscriptionIsExclusive): false">
                <div uib-accordion-heading>Subscriptions</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-subscription on-select-item="onSelectSubscriptionKey($item, $model)" specific-type="{{$ctrl.specific_type}}" on-remove="onDeleteSubscriptionKey()" entity="$ctrl.subscription.selected" multiple="false">
                        </custom-ui-select-subscription>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.subscription}" ng-click="$ctrl.ok('subscription')" ng-disabled="!$ctrl.helper_keys.subscription">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.datastreamIsOpen" is-disabled="$ctrl.helper_exclusive ? !$ctrl.datastreamIsExclusive: false" class="datastream-option">
                <div uib-accordion-heading>Datastream</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-datastream on-select-item="onSelectDatastreamKey($item, $model)" on-remove="onDeleteDatastreamKey()" datastream="$ctrl.datastream.selected" multiple="false">
                        </custom-ui-select-datastream>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.datastream}" ng-click="$ctrl.ok('datastream')" ng-disabled="!$ctrl.helper_keys.datastream">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.areaIsOpen" class="area-option" is-disabled="$ctrl.helper_exclusive ? !$ctrl.areaIsExclusive: false">
                <div uib-accordion-heading>Areas</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-area on-select-item="onSelectAreaKey($item, $model)" on-remove="onDeleteAreaKey()" area="$ctrl.area.selected" organization="$ctrl.area.organization" multiple="false">
                        </custom-ui-select-area>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.area}" ng-click="$ctrl.ok('area')" ng-disabled="!$ctrl.helper_keys.area">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="$ctrl.bundleIsOpen" class="bundle-option" is-disabled="$ctrl.helper_exclusive ? !$ctrl.bundleIsExclusive: false">
                <div uib-accordion-heading>Bundles</div>
                <div class="row row-eq-height">
                    <div class="col-xs-10">
                        <custom-ui-select-bundle on-select-item="onSelectBundleKey($item, $model)" on-remove="onDeleteBundleKey()" bundle="$ctrl.bundle.selected" multiple="false">
                        </custom-ui-select-bundle>
                    </div>
                    <div class="col-xs-2 vcenter" ng-if="$ctrl.helper_exclusive">
                        <a class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.helper_keys.bundle}" ng-click="$ctrl.ok('bundle')" ng-disabled="!$ctrl.helper_keys.bundle">
                            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>
    <div class="modal-footer">
        <a ng-if="!$ctrl.helper_exclusive" class="top-buffer btn btn-default ux-txt-success pointer" ng-class="{'disabled': !$ctrl.canApply()}" ng-click="$ctrl.ok()" ng-disabled="!$ctrl.canApply()">
            <i class="fa fa-lg fa-files-o" aria-hidden="true"></i> All
        </a>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>