<div class="{{form.schema?form.schema.htmlClass:''}}">
    <div class="form-group" sf-array="form" ng-class="{'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false }">
        <label>{{ form.title }}</label><br>
        <div class="checkbox" ng-if="form.titleMap" ng-repeat="val in titleMapValues track by $index">
            <label>
                <input type="checkbox" id="$$value$$" ng-disabled="form.readonly" sf-changed="form" name="$$value$$"  ng-model="titleMapValues[$index]">
                <span class="checkbox-material ">
                    <span class="check"></span>
                </span>
                <span ng-bind-html="form.titleMap[$index].name" class="text-left"></span>
            </label>
        </div>
        <div ng-if="form.description" class="help-inline" ng-bind-html="form.description"></div>
    </div>
</div>