<div class="{{form.schema?form.schema.htmlClass:''}}">
    <div class="form-group">
        <label for="{{$$value$$}}" ng-model="$$value$$">{{ form.title }}</label><br>
        <div class="radio radio-primary" ng-if="form.titleMap" ng-repeat="data in form.titleMap track by $index">
            <label>
                <input type="radio" id="$$value$$" name="$$value$$" ng-model="$$value$$" sf-field-model="replaceAll" value="{{data.value}}" sf-changed="form" ng-disabled="form.readonly" schema-validate="form" ng-model-options="form.ngModelOptions" >
                <span class="circle"></span>
                <span class="check"></span> 
                <p ng-bind-html="data.name" class="text-left"></p>
            </label>
        </div>
        <div ng-if="form.description" class="help-inline" ng-bind-html="form.description"></div>
    </div>
</div>