<div class="{{form.schema?form.schema.htmlClass:''}}">
    <div class="form-group">
        <label for="{{form.key[0]}}" ng-model="model[form.key[0]]">{{ form.title }}</label><br>
        <div class="btn-group">
            <label ng-repeat="data in form.titleMap  track by $index" class="btn btn-sm" ng-class="{ 'btn-primary': data.value === model[form.key[0]], 'btn-default': data.value !== model[form.key[0]] }">
                <input type="radio" id="{{form.key[0]}} + '_' + $index" name="{{form.key[0]}}" ng-model="model[form.key[0]]" ng-value="data.value" style="display:none;" sf-changed="form">
                <span ng-bind-html="data.name" class="text-left"></span>
            </label>
        </div>
        <div ng-if="form.description" class="help-inline" ng-bind-html="form.description"></div>
    </div>
</div>