<div class="{{form.schema?form.schema.htmlClass:''}}">
    <div class="form-group" ng-class="{'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false }">
        <!-- Surrounding DIV for sfField builder to add a sfField directive to. -->
        <!--on-copy="evalExpr(form.oncopy, {args: $helper_keys})"-->
        <helper-dialog helper-id="{{form.helperid}}" helper-exclusive="{{form.exclusive}}" helper-type="{{form.helperType}}" specific-type="{{form.specificType}}">
            <helper-ui-select id="{{form.id}}" name="{{form.name}}" label-text="{{form.title}}" helper-model="$$value$$" sf-field-model="replaceAll" label-error="{{form.labelerror}}">
                <helper-ui-select-input>
                    <label for="{{form.name}}">{{form.title}} {{form.helperid}} {{form.exclusive}}</label>
                    <input class="form-control" name="{{form.name}}" type="text" id="{{form.id}}" ng-model="$$value$$" sf-field-model="replaceAll">
                </helper-ui-select-input>
            </helper-ui-select>
        </helper-dialog>
    </div>
</div>