<div ng-class="{'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false }" class="form-group {{form.htmlClass}}">
    <!-- Surrounding DIV for sfField builder to add a sfField directive to. -->
    <custom-ui-select-asset label="form.title" specific-type="{{form.specificType}}" on-select-item="evalExpr(form.onselectitem, {$item: $$value$$, $model: $model})" on-remove="evalExpr(form.onremove, {$item: $$value$$, $model: $model})" ng-model="$$value$$"
        identifier="$$value$$" multiple="form.multiple" sf-field-model="replaceAll" asset="form.dummy" required="form.required">
    </custom-ui-select-asset>
</div>