<div class="form-group" class="{{form.schema?form.schema.htmlClass:''}}">
    <div class="checkbox" ng-class="{'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false }">
        <label>
            <input type="checkbox" id="$$value$$" name="$$value$$" ng-model="$$value$$" sf-field-model="replaceAll" sf-changed="form" ng-model-options="form.ngModelOptions" schema-validate="form">
            <span class="checkbox-material">
                <span class="check"></span>
            </span>
            <span ng-bind-html="form.title" class="text-left"></span>
            </label>
    </div>
    <div class="help-inline" sf-message="form.description" ng-bind-html="form.description"></div>
</div>