<div class="form-group no-margin" mass-autocomplete ng-if="$ctrl.multiple">
    <label class="custom-ui-select-label">{{ 'FORM.LABEL.DATASTREAM_ID' | translate }} <field-options required="$ctrl.required" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" name="datastream" ng-model="$ctrl.datastream" theme="bootstrap" title="Choose a datastream" custom-ui-select multiple="true" custom-mass-autocomplete-item="$ctrl.ownConfig" on-select="$ctrl.datastreamSelected($item, $model)"
        on-remove="$ctrl.datastreamRemove($item, $model)" ng-required="$ctrl.required">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDER.DATASTREAM' | translate }}" allow-clear="true"> {{$item.identifier}} </ui-select-match>
        <ui-select-choices repeat="ds in $ctrl.ownConfig.collection | limitTo:$ctrl.maxResults track by $index">
            <div>
                <span ng-bind-html="ds.identifier | highlight: $select.search"></span> -
                <span ng-bind-html="ds.name | highlight: $select.search"></span>
            </div>
            <small>
                <div ng-if="ds.category.name"> {{ 'FORM.LABEL.CATEGORY' | translate }}
                    <span ng-bind-html="ds.category.name | highlight: $select.search"></span>
                </div>
                <div ng-if="ds.feed"> {{ 'FORM.LABEL.FEED' | translate }}:
                    <span ng-bind-html="ds.feed | highlight: $select.search"></span>
                </div>
                <div ng-if="ds.datamodel">
                    <div>{{ 'FORM.LABEL.DATAMODEL' | translate }}:</div>
                    <div>- {{ 'FORM.LABEL.ID' | translate }}:
                        <span ng-bind-html="ds.datamodel.identifier | highlight: $select.search"></span>
                        <div>- {{ 'FORM.LABEL.ORGANIZATION' | translate }}:
                            <span ng-bind-html="ds.datamodel.organization | highlight: $select.search"></span>
                            <div>- {{ 'FORM.LABEL.NAME' | translate }}:
                                <span ng-bind-html="ds.datamodel.name | highlight: $select.search"></span>
                                <div>- {{ 'FORM.LABEL.DESCRIPTION' | translate }}:
                                    <span ng-bind-html="ds.datamodel.description | highlight: $select.search"></span>
                                    <div>- {{ 'FORM.LABEL.VERSION' | translate }}:
                                        <span ng-bind-html="ds.datamodel.version | highlight: $select.search"></span>
                                    </div>
            </small>
        </ui-select-choices>
    </ui-select>
</div>
<div class="form-group no-margin" mass-autocomplete ng-if="!$ctrl.multiple">
    <label class="custom-ui-select-label">{{'FORM.LABEL.DATASTREAM_ID' | translate}} <field-options required="$ctrl.required" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" name="datastream" ng-model="$ctrl.datastream" theme="bootstrap" title="Choose a datastream" custom-ui-select multiple="false" custom-mass-autocomplete-item="$ctrl.ownConfig" on-select="$ctrl.datastreamSelected($item, $model)"
        on-remove="$ctrl.datastreamRemove($item, $model)" ng-required="$ctrl.required">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDER.DATASTREAM' | translate }}" allow-clear="true"> {{$item.identifier}} </ui-select-match>
        <ui-select-choices repeat="ds in $ctrl.ownConfig.collection | limitTo:$ctrl.maxResults track by $index">
            <div>
                <span ng-bind-html="ds.identifier | highlight: $select.search"></span> -
                <span ng-bind-html="ds.name | highlight: $select.search"></span>
            </div>
            <small>
                    <div ng-if="ds.category.name"> {{ 'FORM.LABEL.CATEGORY' | translate }}
                        <span ng-bind-html="ds.category.name | highlight: $select.search"></span>
                    </div>
                    <div ng-if="ds.feed"> {{ 'FORM.LABEL.FEED' | translate }}:
                        <span ng-bind-html="ds.feed | highlight: $select.search"></span>
                    </div>
                    <div ng-if="ds.datamodel">
                        <div>{{ 'FORM.LABEL.DATAMODEL' | translate }}:</div>
                        <div>- {{ 'FORM.LABEL.ID' | translate }}:
                            <span ng-bind-html="ds.datamodel.identifier | highlight: $select.search"></span>
                            <div>- {{ 'FORM.LABEL.ORGANIZATION' | translate }}:
                                <span ng-bind-html="ds.datamodel.organization | highlight: $select.search"></span>
                                <div>- {{ 'FORM.LABEL.NAME' | translate }}:
                                    <span ng-bind-html="ds.datamodel.name | highlight: $select.search"></span>
                                    <div>- {{ 'FORM.LABEL.DESCRIPTION' | translate }}:
                                        <span ng-bind-html="ds.datamodel.description | highlight: $select.search"></span>
                                        <div>- {{ 'FORM.LABEL.VERSION' | translate }}:
                                            <span ng-bind-html="ds.datamodel.version | highlight: $select.search"></span>
                                        </div>
                </small>
        </ui-select-choices>
    </ui-select>
</div>