<div class="form-group no-margin" mass-autocomplete ng-if="$ctrl.multiple">
    <label class="custom-ui-select-label">{{'FORM.LABEL.ENTITY_KEY' | translate }} <field-options required="$ctrl.ngRequired" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" name="entity" ng-model="$ctrl.entity" theme="bootstrap" title="Choose a entity" custom-ui-select custom-ui-select-action="$ctrl.action" multiple="true" custom-mass-autocomplete-item="$ctrl.ownConfig"
        on-select="$ctrl.entitySelected($item, $model)" on-remove="$ctrl.entityRemove($item, $model)" ng-required="$ctrl.ngRequired">
        <ui-select-match placeholder="Choose a entity" allow-clear="true">
            {{$item.provision.subscription.identifier._current.value}}
        </ui-select-match>
        <ui-select-choices repeat="subscriptionData in $ctrl.ownConfig.collection track by $index">
            <span ng-bind-html="subscriptionData.provision.subscription.identifier._current.value | highlight: $select.search"></span>
            <small>
                    <div ng-if="subscriptionData.provision.subscription.name._current.value">{{ 'FORM.LABEL.NAME' | translate }}: <span ng-bind-html="''+subscriptionData.provision.subscription.name._current.value | highlight: $select.search"></span></div>
                </small>
        </ui-select-choices>
    </ui-select>
</div>
<div class="form-group no-margin" mass-autocomplete ng-if="!$ctrl.multiple">
    <label class="custom-ui-select-label">{{'FORM.LABEL.ENTITY_KEY' | translate }} <field-options required="$ctrl.ngRequired" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" name="entity" ng-model="$ctrl.entity" theme="bootstrap" title="Choose a entity" custom-ui-select custom-ui-select-action="$ctrl.action" multiple="false" custom-mass-autocomplete-item="$ctrl.ownConfig"
        on-select="$ctrl.entitySelected($item, $model)" on-remove="$ctrl.entityRemove($item, $model)" ng-required="$ctrl.ngRequired">
        <ui-select-match placeholder="Choose a entity" allow-clear="true">
            {{$item.provision.subscription.identifier._current.value}}
        </ui-select-match>
        <ui-select-choices repeat="subscriptionData in $ctrl.ownConfig.collection track by $index">
            <span ng-bind-html="subscriptionData.provision.subscription.identifier._current.value | highlight: $select.search"></span>
            <small>
                    <div ng-if="subscriptionData.provision.subscription.name._current.value">{{ 'FORM.LABEL.NAME' | translate }}: <span ng-bind-html="''+subscriptionData.provision.subscription.name._current.value | highlight: $select.search"></span></div>
                </small>
        </ui-select-choices>
    </ui-select>
</div>