<div class="form-group no-margin" mass-autocomplete ng-if="$ctrl.multiple">
    <label class="custom-ui-select-label">{{ ($ctrl.label?$ctrl.label:'FORM.LABEL.ENTITY_KEY') | translate }} <field-options required="$ctrl.required" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" name="entity" ng-model="$ctrl.entity" theme="bootstrap" title="Choose a entity" custom-ui-select multiple="true" custom-mass-autocomplete-item="$ctrl.ownConfig" on-select="$ctrl.entitySelected($item, $model)"
        on-remove="$ctrl.entityRemove($item, $model)" ng-required="$ctrl.required">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDER.ENTITY' | translate }}" allow-clear="true">
            {{$item.provision.administration.identifier._current.value || $item.identifier}}
        </ui-select-match>
        <ui-select-choices repeat="entityData in $ctrl.ownConfig.collection track by $index">
            <span ng-bind-html="entityData.provision.administration.identifier._current.value | highlight: $select.search"></span>
            <small>
                <div ng-if="entityData.resourceType._current.value">{{ 'FORM.LABEL.RESOURCE_TYPE' | translate }}: <span ng-bind-html="entityData.resourceType._current.value | highlight: $select.search"></span></div>
                <div ng-if="entityData.provision.asset.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="entityData.provision.asset.specificType._current.value | highlight: $select.search"></span></div>
                <div ng-if="entityData.provision.device.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="entityData.provision.device.specificType._current.value | highlight: $select.search"></span></div>
                <div ng-if="entityData.provision.device.operationalStatus._current.value">{{ 'FORM.LABEL.OP_STATUS' | translate }}: <span ng-bind-html="''+entityData.provision.device.operationalStatus._current.value | highlight: $select.search"></span></div>
                <div ng-if="!entityData.provision.device.specificType && entityData.provision.device.communicationsModule[0].subscriber.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="entityData.provision.device.communicationsModule[0].subscriber.specificType._current.value | highlight: $select.search"></span></div>
                <div ng-if="!entityData.provision.device.specificType && entityData.provision.device.communicationsModule[0].subscription.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="entityData.provision.device.communicationsModule[0].subscriber.specificType._current.value | highlight: $select.search"></span></div>
            </small>
        </ui-select-choices>
    </ui-select>
</div>
<div class="form-group no-margin" mass-autocomplete ng-if="!$ctrl.multiple">
    <label class="custom-ui-select-label">{{($ctrl.label?$ctrl.label:'FORM.LABEL.ENTITY_KEY') | translate }} <field-options required="$ctrl.required" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" name="entity" ng-model="$ctrl.entity" theme="bootstrap" title="Choose a entity" custom-ui-select multiple="false" custom-mass-autocomplete-item="$ctrl.ownConfig" on-select="$ctrl.entitySelected($item, $model)"
        on-remove="$ctrl.entityRemove($item, $model)" ng-required="$ctrl.required">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDER.ENTITY' | translate }}" allow-clear="true">
            {{$item.provision.administration.identifier._current.value || $item.identifier}}
        </ui-select-match>
        <ui-select-choices repeat="entityData in $ctrl.ownConfig.collection track by $index">
            <span ng-bind-html="entityData.provision.administration.identifier._current.value | highlight: $select.search"></span>
            <small>
                <div ng-if="entityData.resourceType._current.value">{{ 'FORM.LABEL.RESOURCE_TYPE' | translate }}: <span ng-bind-html="entityData.resourceType._current.value | highlight: $select.search"></span></div>
                <div ng-if="entityData.provision.asset.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="entityData.provision.asset.specificType._current.value | highlight: $select.search"></span></div>
                <div ng-if="entityData.provision.device.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="entityData.provision.device.specificType._current.value | highlight: $select.search"></span></div>
                <div ng-if="entityData.provision.device.operationalStatus._current.value">{{ 'FORM.LABEL.OP_STATUS' | translate }}: <span ng-bind-html="''+entityData.provision.device.operationalStatus._current.value | highlight: $select.search"></span></div>
                <div ng-if="!entityData.provision.device.specificType && entityData.provision.device.communicationsModule[0].subscriber.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="entityData.provision.device.communicationsModule[0].subscriber.specificType._current.value | highlight: $select.search"></span></div>
                <div ng-if="!entityData.provision.device.specificType && entityData.provision.device.communicationsModule[0].subscription.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="entityData.provision.device.communicationsModule[0].subscriber.specificType._current.value | highlight: $select.search"></span></div>
            </small>
        </ui-select-choices>
    </ui-select>
</div>