<div class="form-group no-margin" mass-autocomplete ng-if="$ctrl.multiple">
    <label ng-if="$ctrl.label" class="custom-ui-select-label">{{ $ctrl.label | translate }} <field-options required="$ctrl.required" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" ng-disabled="$ctrl.disabled" name="asset" ng-model="$ctrl.asset" theme="bootstrap" title="Choose a asset" custom-ui-select custom-ui-select-action="$ctrl.action" multiple="true" custom-mass-autocomplete-item="$ctrl.ownConfig"
        on-select="$ctrl.assetSelected($item, $model)" on-remove="$ctrl.assetRemove($item, $model)" ng-required="$ctrl.required">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDER.ENTITY' | translate }}" allow-clear="true">
            {{$item.provision.administration.identifier._current.value || $item.identifier}}
        </ui-select-match>
        <ui-select-choices repeat="assetData in $ctrl.ownConfig.collection track by $index">
            <span ng-bind-html="assetData.provision.administration.identifier._current.value | highlight: $select.search"></span>
            <small>
                <div ng-if="assetData.provision.asset.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="assetData.provision.asset.specificType._current.value | highlight: $select.search"></span></div>
                <div ng-if="assetData.provision.asset.name._current.value">{{ 'FORM.LABEL.NAME' | translate }}: <span ng-bind-html="''+assetData.provision.asset.name._current.value | highlight: $select.search"></span></div>
            </small>
        </ui-select-choices>
    </ui-select>
</div>
<div class="form-group no-margin" mass-autocomplete ng-if="!$ctrl.multiple">
    <label ng-if="$ctrl.label" class="custom-ui-select-label">{{ $ctrl.label | translate }} <field-options required="$ctrl.required" multiple="$ctrl.multiple" /></label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" ng-disabled="$ctrl.disabled" name="asset" ng-model="$ctrl.asset" theme="bootstrap" title="Choose an asset" custom-ui-select custom-ui-select-action="$ctrl.action" multiple="false" custom-mass-autocomplete-item="$ctrl.ownConfig"
        on-select="$ctrl.assetSelected($item, $model)" on-remove="$ctrl.assetRemove($item, $model)" ng-required="$ctrl.required">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDER.ENTITY' | translate }}" allow-clear="true">
            {{$item.provision.administration.identifier._current.value || $item.identifier}}
        </ui-select-match>
        <ui-select-choices repeat="assetData in $ctrl.ownConfig.collection track by $index">
            <span ng-bind-html="assetData.provision.administration.identifier._current.value | highlight: $select.search"></span>
            <small>
                <div ng-if="assetData.provision.asset.specificType._current.value">{{ 'FORM.LABEL.SPECIFIC_TYPE' | translate }}: <span ng-bind-html="assetData.provision.asset.specificType._current.value | highlight: $select.search"></span></div>
                <div ng-if="assetData.provision.asset.name._current.value">{{ 'FORM.LABEL.NAME' | translate }}: <span ng-bind-html="''+assetData.provision.asset.name._current.value | highlight: $select.search"></span></div>
            </small>
        </ui-select-choices>
    </ui-select>
</div>