<div class="form-group" ng-if="$ctrl.multiple">
    <label class="custom-ui-select-label" translate>FORM.LABEL.RESOURCE_TYPE</label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" name="resourceType" ng-model="$ctrl.resourceType" theme="bootstrap" title="{{ 'FORM.PLACEHOLDER.RESOURCE_TYPE_MULTI' | translate }}" custom-ui-select multiple="true" on-select="$ctrl.resourceTypeSelected($item, $model)"
        on-remove="$ctrl.resourceTypeRemove($item, $model)" ng-required="$ctrl.isRequired">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDER.RESOURCE_TYPE' | translate }}" allow-clear="true">
            {{$item.identifier | translate}}
        </ui-select-match>
        <ui-select-choices repeat="resourceType in $ctrl.ownConfig.collection | filter:$select.search track by $index">
            <div>
                <span ng-bind-html="resourceType.identifier | translate | highlight: $select.search"></span>
            </div>
        </ui-select-choices>
    </ui-select>
</div>
<div class="form-group" ng-if="!$ctrl.multiple">
    <label class="custom-ui-select-label" translate>FORM.LABEL.RESOURCE_TYPE</label>
    <ui-select custom-ui-select-config="$ctrl.ownConfig" name="resourceType" ng-model="$ctrl.resourceType" theme="bootstrap" title="Choose an resourceType" custom-ui-select multiple="false" on-select="$ctrl.resourceTypeSelected($item, $model)" on-remove="$ctrl.resourceTypeRemove($item, $model)"
        ng-required="$ctrl.isRequired">
        <ui-select-match placeholder="{{ 'FORM.PLACEHOLDER.RESOURCE_TYPE' | translate }}" allow-clear="true">
            {{$item.identifier | translate}}
        </ui-select-match>
        <ui-select-choices repeat="resourceType in $ctrl.ownConfig.collection | filter:$select.search track by $index">
            <div>
                <span ng-bind-html="resourceType.identifier | translate | highlight: $select.search"></span>
            </div>
        </ui-select-choices>
    </ui-select>
</div>